<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
                系统相关：common、system
 -->
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
	version="2.0">

	<description>JSTL 1.1 functions library</description>
	<display-name>JSTL functions sys</display-name>
	<tlib-version>1.1</tlib-version>
	<short-name>fns</short-name>
	<uri>http://java.sun.com/jsp/jstl/functionss</uri>

	<function>
		<description>获取后台管理路径</description>
		<name>getAdminPath</name>
		<function-class>com.tmt.base.common.config.Globals</function-class>
		<function-signature>java.lang.String getAdminPath()</function-signature>
		<example>${fns:getAdminPath()}</example>
	</function>
	<function>
		<description>获取前台管理路径</description>
		<name>getFrontPath</name>
		<function-class>com.tmt.base.common.config.Globals</function-class>
		<function-signature>java.lang.String getFrontPath()</function-signature>
		<example>${fns:getFrontPath()}</example>
	</function>
	<function>
		<description>获取配置</description>
		<name>getConfig</name>
		<function-class>com.tmt.base.common.config.Globals</function-class>
		<function-signature>java.lang.String getConfig(java.lang.String)</function-signature>
		<example>${fns:getConfig(key)}</example>
	</function>

	<function>
		<description>获取字典对象列表</description>
		<name>getDictList</name>
		<function-class>com.tmt.base.system.utils.DictUtils</function-class>
		<function-signature>java.util.List getDictList(java.lang.String)</function-signature>
		<example>${fns:getDictList(type)}</example>
	</function>

	<function>
		<description>获取字典标签</description>
		<name>getDictLabel</name>
		<function-class>com.tmt.base.system.utils.DictUtils</function-class>
		<function-signature>java.lang.String getDictLabel(java.lang.String,
			java.lang.String, java.lang.String)</function-signature>
		<example>${fns:getDictLabel(value, type, defaultValue)}</example>
	</function>

	<function>
		<description>获取字典值</description>
		<name>getDictValue</name>
		<function-class>com.tmt.base.system.utils.DictUtils</function-class>
		<function-signature>java.lang.String getDictValue(java.lang.String,
			java.lang.String, java.lang.String)</function-signature>
		<example>${fns:getDictValue(label, type, defaultValue)}</example>
	</function>

	<!-- StringUtils -->
	<function>
		<description>从后边开始截取字符串</description>
		<name>substringAfterLast</name>
		<function-class>org.apache.commons.lang3.StringUtils</function-class>
		<function-signature>java.lang.String
			substringAfterLast(java.lang.String, java.lang.String)</function-signature>
		<example>${fns:substringAfterLast(str,separator)}</example>
	</function>
	<function>
		<description>判断字符串是否以某某开头</description>
		<name>startsWith</name>
		<function-class>org.apache.commons.lang3.StringUtils</function-class>
		<function-signature>boolean startsWith(java.lang.CharSequence,
			java.lang.CharSequence)</function-signature>
		<example>${fns:startsWith(str,prefix)}</example>
	</function>
	<function>
		<description>判断字符串是否以某某结尾</description>
		<name>endsWith</name>
		<function-class>org.apache.commons.lang3.StringUtils</function-class>
		<function-signature>boolean endsWith(java.lang.CharSequence, java.lang.CharSequence)</function-signature>
		<example>${fns:endsWith(str,suffix)}</example>
	</function>
	<function>
		<description>缩写字符串，超过最大宽度用“...”表示</description>
		<name>abbr</name>
		<function-class>com.tmt.base.common.utils.StringUtil3</function-class>
		<function-signature>java.lang.String abbr(java.lang.String, int)</function-signature>
		<example>${fns:abbr(str,length)}</example>
	</function>
	<function>
		<description>替换掉HTML标签后缩写字符串，超过最大宽度用“...”表示</description>
		<name>rabbr</name>
		<function-class>com.tmt.base.common.utils.StringUtil3</function-class>
		<function-signature>java.lang.String rabbr(java.lang.String, int)</function-signature>
		<example>${fns:rabbr(str,length)}</example>
	</function>
	<function>
		<description>替换掉HTML标签</description>
		<name>replaceHtml</name>
		<function-class>com.tmt.base.common.utils.StringUtil3</function-class>
		<function-signature>java.lang.String replaceHtml(java.lang.String)</function-signature>
		<example>${fns:replaceHtml(html)}</example>
	</function>
	<function>
		<description>查找字符串的位置</description>
		<name>indexOf</name>
		<function-class>org.apache.commons.lang3.StringUtils</function-class>
		<function-signature>int indexOf(java.lang.String, java.lang.String)</function-signature>
		<example>${fns:indexOf(seq, searchSeq)}</example>
	</function>
	<function>
		<description>是否包含指定字符串</description>
		<name>contains</name>
		<function-class>org.apache.commons.lang3.StringUtils</function-class>
		<function-signature>boolean contains(java.lang.CharSequence, java.lang.CharSequence)</function-signature>
		<example>${fns:contains(seq, searchSeq)}</example>
	</function>

	<!-- 获取用户顶层菜单 -->
	<function>
		<description>获取当前用户的菜单对象列表</description>
		<name>getTopMenuList</name>
		<function-class>com.tmt.base.system.utils.UserUtils</function-class>
		<function-signature>java.util.List getTopMenuList()</function-signature>
		<example>${fns:getTopMenuList()}</example>
	</function>
	
</taglib>
