@charset "utf-8";
body{ font-size: 12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; padding: 0px;background-color: #f4f4f4;}
body.white{background-color: #fff;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
body{ padding-left: 1px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,strong,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
label {display: block;margin-bottom: 0;}
label{font-family: Helvetica,Georgia,Arial,sans-serif,宋体;font-size: 13px;_font-size: 12px;}
.clearfix:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.heading { margin-top:2px;}
.wrapper{width: 100%;height: 100%;display:block;padding:0px 0px 0px 0px;background: #f3f3f3;}
.wrapper.white{background: #fff;color: #555 !important;}
.wrapper-inner{padding:1px 0; border-left: 1px solid #ddd;border-bottom-color: transparent;padding-top: 1px;}
.top{margin:0; color: #555; zoom: 1;background:transparent;padding-bottom: 10px;padding: 8px 15px;border-width: 0px 0;border-style: solid;border-color: #ddd;border-bottom: 0;}
.top:after{ content: "."; display: block; clear: both; height: 0; overflow: hidden; }
.top .fl{float:left;}
.top .fr{float:right;display:inline;margin-right:-10px; height: 30px;}
.top .title{display:inline-block;*display:inline;zoom:1;margin-right:10px;font-size:14px;line-height:30px;vertical-align:middle;}
.wrapper-inner .top{background: #f3f3f3; -webkit-box-shadow: inset 0px 1px 0px 0px #fefefe;box-shadow: inset 0px 1px 0px 0px #fefefe;border-width: 1px 0;border-style: solid;border-color: #ddd;border-bottom: 1;margin-bottom: 1px; vertical-align: middle;}
a { cursor:pointer; color: #2383c0; text-decoration: none; outline:none; }
a:hover { color: #2383c0; outline:none; text-decoration: none;}
a:focus{ outline:none; }
a img { border: 0; }
small {  font-size: 85%; }
em { font-style: italic; }
cite { font-style: normal;}
strong {font-weight:bold; font-size: 14px;}
.nav{ margin-bottom: 0px; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
.main-table {width:100%;  margin:0 auto;  border:0px solid #A4BED4;  border-collapse:collapse; }
.main-table caption {margin:0 auto; line-height:30px;  font-size:15px;  font-weight:800; text-align:left; color:#c00; }
.main-table td,.main_table th{ border:0px solid #A4BED4; padding:0px 5px; height: 30px;line-height: 30px; }
/*********表单控件**********/
select,textarea, input[type="text"], input[type="password"]{-webkit-border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;border-radius:0px 0 0 0px}select{display:inline-block;vertical-align:middle;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}textarea{height:auto;padding: 4px 6px;}input[type="text"].text_ro{BACKGROUND-COLOR:#F0F0F0;BORDER-bottom:1px solid #E3E9EF;BORDER-top:1px solid #ABADB3;BORDER-left:1px solid #E2E3EA;BORDER-right:1px solid #DBDFE6}input[type="text"].text_error,input[type="password"].text_error{border:1px  dashed red}input[type="file"].text_error{border:1px  dashed red}input[type="text"].text_line{BORDER-top:0px solid #ABADB3;BORDER-left:0px solid #E2E3EA;BORDER-right:0px solid #DBDFE6;-webkit-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}
textarea.text_error{border:1px  dashed red}
div.text_error{border:1px  dashed red}
/*按钮结构部分*/
.ui-btn{display:inline-block;*display:inline;zoom:1;padding:4px 12px;height:20px;line-height:20px;border:1px solid #c1c1c1;border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);background:#ffffff;background:-moz-linear-gradient(top, #ffffff, #f4f4f4);background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));background:-o-linear-gradient(top, #ffffff, #f4f4f4);background:-ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);background:linear-gradient(top, #ffffff, #f4f4f4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');color:#555;vertical-align:middle;cursor:pointer}.ui-btn:hover{filter:progid:DXImageTransform.Microsoft.Gradient(enabled=false);background:#f4f4f4;color:#555}.ui-btn strong{font-weight:normal}.ui-btn-menu{position:relative;display:inline-block;*display:inline;margin-right:10px;vertical-align:middle;zoom:1;z-index:100}.ui-btn-menu .ui-menu-btn{display:inline-block;position:relative;margin-right:0;padding-right:20px;z-index:101}.ui-btn-menu .ui-menu-btn b{font-size:0;position:absolute;right:6px;top:50%;margin-top:-2px;border-width:4px;border-color:#888 #fafafa #fafafa;border-style:solid;height:0;overflow:hidden;-moz-transition:-moz-transform 150ms ease-in;-webkit-transition:-webkit-transform 150ms ease-in;-o-transition:-o-transform 150ms ease-in;transition:transform 150ms ease-in}.ui-btn-menu .dropdown-menu{display:none;padding:15px;position:absolute;top:26px;left:0;border:1px solid #c1c1c1;border-top-left-radius:0px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.15);background-color:#fff;z-index:99}.ui-btn-menu-cur .ui-menu-btn,.ui-btn-menu-cur .ui-menu-btn:hover,.ui-btn-menu-cur .ui-menu-btn:active{filter:progid:DXImageTransform.Microsoft.Gradient(enabled=false);background:#fff;border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;box-shadow:none}.ui-btn-menu-cur .ui-menu-btn b{-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 20%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);margin-top:-6px\9}.ui-btn-menu-cur .dropdown-menu{display:block}.ui-btn-menu .control-group{margin-bottom:5px}.ui-btn-menu .control-group.formSep{padding-bottom:3px}.ui-btn-menu .control-label{padding-top:3px;font-size:13px;float:left;width:60px;padding-top:5px;text-align:right}.ui-btn-menu .controls{text-align:left;margin-left:75px}.ui-btn-menu .ui-btns{height:30px;line-height:30px;overflow:hidden;padding:10px 0px 0px 0px}.ui-btn-menu .ui-btns .btn{float:right;margin-left:5px;display:inline-block}.ui-btn-menu-fl .dropdown-menu .control-group{float:left;margin-left:10px}.ui-btn-menu-fl .dropdown-menu .ui-btns{clear:both;border-top:1px solid #e5e5e5}.ui-btns{overflow:hidden;zoom:1;margin-top:10px;height:30px}.ui-conditions-trigger b{background:url('img/page_spr_icons.png') no-repeat}.ui-conditions-trigger{color:#3492c7;float:left;line-height:30px;overflow:hidden;position:relative;padding-right:16px;outline:none;*zoom:1}.ui-conditions-trigger b{position:absolute;right:0;top:50%;margin-top:-8px;width:16px;height:16px;background-position:-272px -96px}.ui-conditions-expand b{background-position:-256px -96px}
/*** simple Tabs ***/
.ui-tabs-nav {
	font-size: 13px;
	height: 32px;
	box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	margin: 0;
	border-bottom: 1px solid #c7c7c7;
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #f0f0f0));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#f0f0f0', GradientType=0)
}

.ui-tabs-nav li {
	display: block;
	float: left;
	text-align: center
}

.ui-tabs-nav li.active a {
	cursor: default;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f5f5f5;
	color: #555
}

.ui-tabs-nav li:first-child a {
	border-left: 0
}

.ui-tabs-nav li:last-child a {
	border-right: 1px solid #d5d5d5
}

.ui-tabs-nav li a {
	display: block;
	padding: 0;
	height: 32px;
	line-height: 32px;
	border-left: 1px solid #d5d5d5;
	padding: 0 14px
}

.one-items li {
	width: 50%
}

.two-items li {
	width: 50%
}

.two-items li:last-child a {
	border-right: 0
}
/*****其他*******/
.main-wrap .col-sub {
	float: right;
	width: 220px;
	margin-left: 10px;
	_margin-left: 7px;
}
.main-wrap .col-main {
	overflow: hidden;
	zoom: 1;
}
.mod-box .hd {
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	border: 1px solid #cfcfcf;
	background: #f7f7f7;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top,#fefefe,#f0f0f0);
	background: -o-linear-gradient(top, #fefefe, #f0f0f0);
	background: -ms-linear-gradient(top, #fefefe 0%,#f0f0f0 100%);
	background: linear-gradient(top,#fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
}
.mod-box .bd {
	background-color: #fff;
	border: 1px solid #cfcfcf;
	border-top: 0;
}

/****表单部分**********/
.bills { margin:15px 0 0 18px; position: relative; float: left; width: 1002px; background: #FFFFFF; border: 1px solid #CFCFCF; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); padding: 10px 20px 10px 20px;}
.con-header { padding: 10px;}
.con-header dd { float: left; line-height: 30px;}
.p20 { width: 20%; }
.bills .operating .ui-icon {cursor: pointer;}
.bills .page-header { margin: 0 0 12px; border-bottom: 1px solid #dce8f1; padding-bottom: 16px; padding-top: 7px;}
.bills .page-header h3 { padding: 0; margin: 0 8px; font-size: 24px; font-weight: lighter; color: #2679b5; display: inline-block; }
.bills .page-header h3 small { margin: 0 6px; font-size: 14px; font-weight: normal; color: #8089a0;}
.bills .widget-box .widget-body{padding-top: 10px}
.bills .widget-box.transparent>.widget-header{border-bottom: 1px dotted #e2e2e2;}
.bills .widget-box{padding-top:7px;}
.bills .page-header>.widget-caption,.bills .page-header>:first-child{display:inline}.page-toolbar{display:inline-block;padding:0 10px;line-height:37px;float:right;position:relative}.page-toolbar>.nav-tabs{border-bottom:0;margin-bottom:0;position:relative;top:15px}.page-toolbar>.nav-tabs>li>a{box-shadow:none;padding:12px 14px}.page-toolbar>.nav-tabs>li>a{border-color:transparent;background-color:transparent}.page-toolbar>.nav-tabs>li>a:hover{background-color:transparent;background-color:#FFF;box-shadow:0 -2px 3px 0 rgba(0, 0, 0, 0.15)}.page-toolbar>.nav-tabs>li.active>a{background-color:#FFF;border-bottom-color:transparent;box-shadow:0 -2px 3px 0 rgba(0, 0, 0, 0.15)}
.bills .page-toolbar>a { font-size: 14px; margin: 0 1px; display: inline-block;padding: 0;line-height: 24px;}
.bills .alert{margin-bottom: 0px;}

.row-fluid .form-horizontal{margin-top: 20px;}
.form-horizontal {margin:0 20px;} .form-horizontal .control-group {margin-bottom:8px;}
.form-horizontal .control-label {padding-top:3px; font-size: 13px;} .form-horizontal .controls {text-align:left;}
.form-horizontal .controls label.error{background-position:0 2px;background:url("../img/unchecked.gif") no-repeat 0 0;padding-left:18px;padding-bottom:2px;font-weight:bold;color:#ea5200;margin-left:10px;display: inline-block;}
.form-horizontal .select2-container{margin-bottom: 0px;}
.form-horizontal .form-actions { padding-right: 0px;}
.formSep { margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px dashed #dcdcdc; }
.form-horizontal.form-fluid .control-group{float: left;}
.form-horizontal.form-fluid .control-group .control-label{width: 100px;}
.form-horizontal.form-fluid .control-group .controls{margin-left: 120px;}
.form-horizontal.form-fluid .form-actions{padding-left: 120px;}
.form-horizontal.form-fluid .formSep{ margin:0;padding:0; border: 0;}
.form-horizontal.form-fluid hr{display: inline-block;height: 1;width: 100%;margin: 0 0 10px;border:0;border-bottom: 1px dashed #dcdcdc;}
.form-horizontal.form-fluid:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
/** 减小 label的大小**/
.form-horizontal.form-min .control-group .control-label{width: 85px;}
.form-horizontal.form-min .control-group .controls{margin-left: 105px;}
.form-horizontal.form-min .form-actions{padding-left: 105px;}
/****table部分*******/
th,td,table {
	border-radius: 0 !important
}

.table th {
	white-space: nowrap;
	text-align: center
}

.table thead tr {
	color: #707070;
	font-weight: normal;
	background: #f2f2f2;
	background-image: -webkit-gradient(linear, left 0, left 100%, from(#f8f8f8),
		to(#ececec));
	background-image: -webkit-linear-gradient(top, #f8f8f8, 0%, #ececec, 100%);
	background-image: -moz-linear-gradient(top, #f8f8f8 0, #ececec 100%);
	background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',
		endColorstr='#ffececec', GradientType=0)
}

.table thead tr th {
	border-color: #DDD;
	font-weight: bold
}

.table thead tr th {
	vertical-align: middle
}

.table .edit,.table .delete,.table .save,.table .add,.table .detail {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 5px;
	overflow: hidden;
	cursor: pointer;
	vertical-align: middle;
	font-size: 18px;
	font-weight:lighter;
	color: #777;
}

.table .edit:hover {
	color: #669fc7;font-size: 18px;
}
.table .add:hover {
	color: #669fc7;font-size: 18px;
}
.table .delete:hover {
	color: #669fc7;font-size: 18px;
}

.table.sample-table th.tc,table.sample-table td.tc {
	text-align: center
}

.table.sample-table th.tl,table.sample-table td.tl {
	text-align: left
}

.table.sample-table th.tr,table.sample-table td.tr {
	text-align: right
}

.sample-table tr.sample-table-row td {
	font-weight: normal;
	overflow: hidden;
	white-space: pre;
	height: 32px;
	padding: 2px 6px 1px 6px;
	font-style: normal;
	vertical-align: middle
}

.sample-table input {width:100%;height:18px;line-height:18px;margin:-1px -5px;padding:6px 4px}
.sample-table select{width:100%;margin-bottom: 0px; margin: -1px -5px;}
.sample-table .select2-container{width:100%;margin-bottom: 0px; margin: -1px -5px;}
.pagination  a{border:0;} .pagination  input{border:0;color:#999;width:30px;padding:0;margin:-3px 0 0 0;text-align:center;}
/*****treeFrame部分****/
#left,#right,#openClose {float:left;} #openClose {width:8px;margin:0 1px;cursor:pointer;}
#openClose,#openClose.close {background:#fdfdfd url("../img/openclose.png") no-repeat -29px center;}
#openClose.close {background-position:1px center;} .close:hover {opacity: .8;filter: alpha(opacity=80);}
/******box***********/
.widget-box *:before,.widget-box *:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}.widget-header:before, .widget-header:after { content: ""; display: table; line-height: 0;}.widget-toolbar:before { display: inline-block; content: "";position: absolute; top: 3px; bottom: 3px; left: -1px; border: 1px solid #d9d9d9; border-width: 0 1px 0 0; }.widget-box.transparent{border:0;box-shadow:none}.widget-box{padding:0;-webkit-box-shadow:none;box-shadow:none;margin:3px 0;border-bottom:1px solid #CCC}.widget-box.transparent>.widget-header{background:0;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);border:0;border-bottom:1px solid #dce8f1;color:#4383b4;padding-left:3px}.widget-header-flat{background:#f7f7f7;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.widget-header{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;position:relative;min-height:38px;background:#f7f7f7;background-image:-webkit-gradient(linear,left 0,left 100%,from(#fff),to(#eee));background-image:-webkit-linear-gradient(top,#fff,0%,#eee,100%);background-image:-moz-linear-gradient(top,#fff 0,#eee 100%);background-image:linear-gradient(to bottom,#fff 0,#eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeeeeee',GradientType=0);color:#669fc7;border:1px solid #CCC;border-bottom:1px solid #DDD;padding-left:12px}.widget-header>.widget-caption, .widget-header>:first-child{line-height:36px;padding:0;margin:0;display:inline}.lighter{font-weight:lighter}.widget-header>.widget-caption>[class*="icon-"], .widget-header>:first-child>[class*="icon-"]{margin-right:5px;font-weight:normal;display:inline-block}.widget-toolbar{display:inline-block;padding:0 10px;line-height:37px;float:right;position:relative}.widget-toolbar>[data-action="collapse"], .header-color-dark>.widget-toolbar>[data-action="collapse"]{color:#aaa}.widget-toolbar>a{font-size:14px;margin:0 1px;display:inline-block;padding:0;line-height:24px}.widget-toolbar>[data-action]>[class*="icon-"]{margin-right:0}.widget-box.transparent .widget-body{border:0;background-color:transparent}.widget-body{border:1px solid #CCC;border-top:0;background-color:#FFF}.widget-main.no-padding{padding:0}.widget-main{padding:12px}.no-padding{padding:0!important}
.no-border{border:0}.widget-toolbar>.nav-tabs{border-bottom:0;margin-bottom:0;position:relative;top:5px}.widget-toolbar>.nav-tabs>li>a{box-shadow:none}.widget-toolbar>.nav-tabs>li>a{border-color:transparent;background-color:transparent}.widget-toolbar>.nav-tabs>li>a:hover{border-color:transparent;background-color:transparent}.widget-toolbar>.nav-tabs>li.active>a{background-color:#FFF;border-bottom-color:transparent;box-shadow:none}.widget-toolbar.no-border >.nav-tabs>li.active>a{box-shadow:0 -2px 3px 0 rgba(0, 0, 0, 0.15)}.widget-toolbar.no-border:before{display:none}.widget-toolbar>a { font-size: 14px; margin: 0 1px; display: inline-block;padding: 0;line-height: 24px;}
.widget-toolbar i{ opacity: .5;}
/*****color*********/
.dark{color:#333 !important}.white{color:#fff !important}.red{color:#dd5a43 !important}.light-red{color:#f77 !important}.blue{color:#478fca !important}.light-blue{color:#93cbf9 !important}.green{color:#69aa46 !important}.light-green{color:#b0d877 !important}.orange{color:#ff892a !important}.light-orange{color:#fcac6f !important}.orange2{color:#feb902 !important}.purple{color:#a069c3 !important}.pink{color:#c6699f !important}.pink2{color:#d6487e !important}.brown{color:#a52a2a !important}.grey{color:#777 !important}
/*****nav-tab*********/
.nav-tabs{border-color:#c5d0dc;margin-bottom:0;margin-left:0;position:relative;top:1px}.nav-tabs>li>a{padding:8px 12px}.nav-tabs>li>a,.nav-tabs>li>a:focus{border-radius:0 !important;background-color:#f9f9f9;color:#999;margin-right:-1px;line-height:16px;position:relative;z-index:11;border-color:#c5d0dc}.nav-tabs>li>a:hover{background-color:#FFF;color:#4c8fbd;border-color:#c5d0dc}.nav-tabs>li>a:active,.nav-tabs>li>a:focus{outline:none !important}.nav-tabs>li:first-child>a{margin-left:0}.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#576373;border-color:#c5d0dc;border-top:2px solid #4c8fbd;border-bottom-color:transparent;background-color:#FFF;z-index:12;line-height:16px;margin-top:-1px;box-shadow:0 -2px 3px 0 rgba(0, 0, 0, 0.15)}
/******settings***********/
.settings-container{position:fixed;right:0;top:30px;z-index:12}.settings-btn{float:left;display:inline-block;text-align:center;vertical-align:top;margin:0;top:62px;right:-1px;z-index:1001;text-decoration:none;font-size:12px;color:#fff;width:15px;padding:2px 3px;background:#ffb34b;display:block;-webkit-border-top-left-radius:8px;-webkit-border-bottom-left-radius:8px;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;border-top-left-radius:8px;border-bottom-left-radius:8px;border:1px solid transparent}.settings-box{display:none;float:left;width:130px;padding:0 14px;background-color:#FFF;border:2px solid #ffb34b}.settings-box.open{display:inline-block}.settings-btn:hover, .settings-btn.open{opacity:1;filter:alpha(opacity=100)}.settings-box .control-group{overflow:hidden;margin:10px}.settings-box .controls{margin-right:5px}.settings-box .control-label,.settings-box .controls{display:inline-block;float:left}
/**上一张,下一张*/
.btn-prev-dis, .btn-next-dis, .btn-prev-dis:hover, .btn-next-dis:hover, .btn-prev:active, .btn-next:active {
	border: 1px solid #cbcbcb;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #fff, #f4f4f4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f4f4f4));
	background: -o-linear-gradient(top, #fff, #f4f4f4);
	background: -ms-linear-gradient(top, #fff 0%,#f4f4f4 100%);
	background: linear-gradient(top, #fff, #f4f4f4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
	cursor: pointer;
}
.btn-prev, .btn-next {
	border: 1px solid #bdbdbd;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc, #f4f4f4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f4f4f4));
	background: -o-linear-gradient(top, #fcfcfc, #f4f4f4);
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%);
	background: linear-gradient(top, #fcfcfc, #f4f4f4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4');
	cursor: pointer;
}
.btn-prev, .btn-next {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 46px;
	height: 32px;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	vertical-align: middle;
}
.btn-prev b, .btn-next b {
	position: absolute;
	display: inline-block;
	width: 32px;
	height: 32px;
	left:7px;
	background-image: url('../img/icons/opa-icons-gray32.png');
	background-repeat: no-repeat;
}
.btn-prev b{
 	background-position: -192px 0;
}
.btn-next b{
	background-position: -64px 0;
}
/**查找*/
.form-search {
padding: 12px;
border: 1px solid #d5d5d5;
position: relative;
background: #f6f6f6;
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
.form-search .input-append{
	position: relative;
    height: 34px;
    text-align: left;
    width: 100%;
}
.form-search  .search-query{
font-size: 12px;
width: 93%;
margin: 0;
padding: 9px 140px 9px 28px;
height: 34px;
display: inline-block;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.form-search .search-btn {
  padding: 10px 13px 9px 13px;
  line-height: 13px;
}

.search-panel {
border: 1px solid #e0e0e0;
margin-bottom: 20px;
}
.search-panel .search-item {
border-bottom: 1px solid #e0e0e0;
padding: 10px 20px 10px 30px;
position: relative;
}
.search-panel .searchNb {
position: absolute;
top: 10px;
left: 10px;
color: #ccc;
font-size: 11px;
}
.search-panel .search-content {
padding-left: 20px;
}
.search-panel .search-content h4 {
vertical-align: text-top;
}
.search-panel .search-content h4 {
font-size: 14px;
margin-bottom: 6px;
}
.sepV_a {
margin-right: 5px;
}
.sepH_b {
margin-bottom: 10px;
}
.sepH_a {
margin-bottom: 5px;
}
.search-panel  .search-content strong {
color: #666;
}
.search-panel  .search-content small {
color: #666;
font-size: 11px;
}