@charset "utf-8";
body{ font-size: 12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; padding: 0px;background-color: #f4f4f4;}
body.white{background-color: #fff;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
body{ padding-left: 1px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,strong,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
q:before, q:after{content:' '} 
abbr,acronym{border:0;}
label {display: block;margin-bottom: 0;}
label{font-family: Helvetica,Georgia,Arial,sans-serif,宋体;font-size: 13px;_font-size: 12px;}
.clearfix:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.heading { margin-top:2px;}
.wrapper{width: 100%;height: 100%;display:block;padding:0px 0px 0px 0px;background: #f3f3f3;}
.wrapper.white{background: #fff;color: #555 !important;}
.wrapper-inner{padding:1px 0; border-left: 1px solid #ddd;border-bottom-color: transparent;padding-top: 1px;}
.top{margin:0; color: #555; zoom: 1;background:transparent;padding-bottom: 10px;padding: 8px 15px;border-width: 0px 0;border-style: solid;border-color: #ddd;border-bottom: 0;}
.top:after{ content: "."; display: block; clear: both; height: 0; overflow: hidden; }
.top .fl{float:left;}
.top .fr{float:right;display:inline;margin-right:-10px; height: 30px;}
.top .title{display:inline-block;*display:inline;zoom:1;margin-right:10px;font-size:14px;line-height:30px;vertical-align:middle;}
.wrapper-inner .top{background: #f3f3f3; -webkit-box-shadow: inset 0px 1px 0px 0px #fefefe;box-shadow: inset 0px 1px 0px 0px #fefefe;border-width: 1px 0;border-style: solid;border-color: #ddd;border-bottom: 1;margin-bottom: 1px; vertical-align: middle;}
a { cursor:pointer; color: #2383c0; text-decoration: none; outline:none; }
a:hover { color: #2383c0; outline:none; text-decoration: none;}
a:focus{ outline:none; }
a img { border: 0; }
small {  font-size: 85%; }
em { font-style: italic; }
cite { font-style: normal;}
strong {font-weight:bold; font-size: 14px;}
.nav{ margin-bottom: 0px; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
.main-table {width:100%;  margin:0 auto;  border:0px solid #A4BED4;  border-collapse:collapse; }
.main-table caption {margin:0 auto; line-height:30px;  font-size:15px;  font-weight:800; text-align:left; color:#c00; }
.main-table td,.main_table th{ border:0px solid #A4BED4; padding:0px 5px; height: 30px;line-height: 30px; }
/*********表单控件**********/
select,textarea, input[type="text"], input[type="password"]{-webkit-border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;border-radius:0px 0 0 0px}select{display:inline-block;vertical-align:middle;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}textarea{height:auto;padding: 4px 6px;}input[type="text"].text_ro{BACKGROUND-COLOR:#F0F0F0;BORDER-bottom:1px solid #E3E9EF;BORDER-top:1px solid #ABADB3;BORDER-left:1px solid #E2E3EA;BORDER-right:1px solid #DBDFE6}input[type="text"].text_error,input[type="password"].text_error{border:1px  dashed red}input[type="file"].text_error{border:1px  dashed red}input[type="text"].text_line{BORDER-top:0px solid #ABADB3;BORDER-left:0px solid #E2E3EA;BORDER-right:0px solid #DBDFE6;-webkit-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}
textarea.text_error{border:1px  dashed red}
div.text_error{border:1px  dashed red}
/*********首部导航***********/
#header{min-height: 35px;}
/*********底部导航***********/
#footer{min-height: 30px;}
#footer .container-fluid{padding-right: 0px; padding-left: 0px;}
#footer .nav.footer-items{float: none; margin: 0px 0px;}
#footer .nav.footer-items>li>a {border-left: 1px solid #d5d5d5;text-align: center; padding-top: 8px;padding-bottom: 8px;}
#footer .nav.footer-items>li.active>a {cursor: default;border-bottom: 1px solid #e8e8e8;background-color: #f5f5f5;color: #555}
#footer .nav.footer-items>li:first-child>a {border-left: 0}
#footer .nav.footer-items>li:last-child>a {border-right: 1px solid #d5d5d5}
#footer .nav.footer-items>li{float: left;}
#footer .nav.footer-items>li:last-child>a{border-right:0}
#footer .nav.footer-items.three-items>li{width:33.3333333%;}
#footer .nav.footer-items.four-items>li{width:25%;}
#footer .nav.footer-items.five-items>li{width:20%;}
#footer .nav.footer-items>li>ul.dropdown-menu{
	width: 100%;
	min-width: 0px;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px rgba(0,0,0,.175);
    border-radius: 0px;
}
#footer .nav.footer-items>li>ul.dropdown-menu>li{
	border-top: 1px solid #e5e5e5;
	position: relative;
	text-align: left;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
	background: linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
}
#footer .nav.footer-items>li>ul.dropdown-menu>li:first-child {
    border-top: 0;
}
#footer .nav.footer-items>li>ul.dropdown-menu li > a {
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 21px;
	color: #333333;
	white-space: nowrap;
	padding: 8px;
}
/***********提示***********/
.bs-callout{
	border: 1px solid #eee;
	padding: 20px;
    margin: 20px 0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border-left-width: 5px;
}
.bs-callout.bs-callout-waring{
	border-left-color: #f0ad4e;
}
.bs-callout.bs-callout-waring h4{
	color: #f0ad4e;
}