@charset "utf-8";
body{ font-size: 12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; padding: 0px;background-color: #f6f6f6;}
body.white{background-color: #fff;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,strong,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
q:before, q:after{content:' '} 
abbr,acronym{border:0;}
label {display: block;margin-bottom: 0;}
label{font-family: Helvetica,Georgia,Arial,sans-serif,宋体;font-size: 13px;_font-size: 12px;}
.clearfix:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.heading { margin-top:2px;}
.wrapper{width: 100%;height: 100%;display:block;padding:0px 0px 0px 0px;background: #f6f6f6;}
.wrapper.white{background: #fff;color: #555 !important;}
.wrapper-inner{padding:0; border-left: 0px solid #ddd;border-bottom-color: transparent;padding-top: 0px;}
.top{margin:0; color: #555; zoom: 1;background:transparent;padding-bottom: 10px;padding: 8px 15px;border-width: 0px 0;border-style: solid;border-color: #ddd;border-bottom: 0;}
.top:after{ content: "."; display: block; clear: both; height: 0; overflow: hidden; }
.top .pull-left, .top .pull-right{display:inline-block;height: 34px;}
.wrapper-inner .top{background: #f3f3f3; -webkit-box-shadow: inset 0px 0px 0px 0px #fefefe;box-shadow: inset 0px 0px 0px 0px #fefefe;border-width: 0px 0 1px 0px; border-style: solid;border-color: #ddd;border-bottom: 1;margin-bottom: 1px; vertical-align: middle;}
.wrapper-content{width: 100%;position: relative;}
.wrapper-content .row{margin: 0; padding: 0;}
a { cursor:pointer; color: #2383c0; text-decoration: none; outline:none; }
a:hover { color: #2383c0; outline:none; text-decoration: none;}
a:focus{ outline:none; }
a img { border: 0; }
small {  font-size: 85%; }
em { font-style: italic; }
cite { font-style: normal;}
strong {font-weight:bold; font-size: 14px;}
.nav{ margin-bottom: 0px; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
.main-table {width:100%;  margin:0 auto;  border:0px solid #A4BED4;  border-collapse:collapse; }
.main-table caption {margin:0 auto; line-height:30px;  font-size:15px;  font-weight:800; text-align:left; color:#c00; }
.main-table td,.main_table th{ border:0px solid #A4BED4; padding:0px 5px; height: 30px;line-height: 30px; }
/*********表单控件**********/
select,textarea, input[type="text"], input[type="password"]{-webkit-border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;border-radius:0px 0 0 0px}select{display:inline-block;vertical-align:middle;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}textarea{height:auto;padding: 4px 6px;}input[type="text"].text_ro{BACKGROUND-COLOR:#F0F0F0;BORDER-bottom:1px solid #E3E9EF;BORDER-top:1px solid #ABADB3;BORDER-left:1px solid #E2E3EA;BORDER-right:1px solid #DBDFE6}input[type="text"].text_error,input[type="password"].text_error{border:1px  dashed red}input[type="file"].text_error{border:1px  dashed red}input[type="text"].text_line{BORDER-top:0px solid #ABADB3;BORDER-left:0px solid #E2E3EA;BORDER-right:0px solid #DBDFE6;-webkit-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}
textarea.text_error{border:1px  dashed red}
div.text_error{border:1px  dashed red}
/***********提示***********/
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	background-color: #e4e7ec;
	background-color: #fff;
	padding: 20px 0 20px 30px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #c9ccd0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-left-width: 5px
}
.bs-callout h4{
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout-danger {
	border-left-color: #d9534f
}

.bs-callout-danger h4 {
	color: #d9534f
}

.bs-callout-warning {
	border-left-color: #f0ad4e
}

.bs-callout-warning h4 {
	color: #f0ad4e
}

.bs-callout-info {
	border-left-color: #5bc0de
}

.bs-callout-info h4 {
	color: #5bc0de
}
.bs-callout p:last-child {
	margin-bottom: 0
}
.bs-callout code {
	border-radius: 3px
}
.bs-callout > p, .bs-callout > ol, .bs-callout > ul {
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 1em;
	margin: 0 0 8.5px;
	color: #465567;
	text-shadow: 0 1px 0 rgba(99,99,99,0.1);
	text-decoration: none;
}