@charset "utf-8";

body {
	font: 12px/1.5 \5b8b\4f53;
	color: #555;
	background-color: #f4f4f4;
}

div.top {
	padding: 22px 18px 16px;
}

#manageAcct {
	background-color: #1B96A9;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px 8px;
	margin: 0 8px;
}

.main-wrap {
	margin: 0 300px 10px 18px;
	border: 1px solid #d4d4d4;
	background: #FFF;
}

.col-main {
	float: left;
	width: 100%;
}

.col-extra {
	float: left;
	width: 290px;
	margin-left: -290px;
}

.extra-wrap {
	height: 442px;
	margin-right: 18px;
	font-size: 14px;
}

.extra-wrap h2 {
	line-height: 38px;
	font-size: 14px;
	color: #FFF;
	background: #307ca6;
	text-align: center;
}

.extra-wrap .list {
	height: 398px;
	border: 1px solid #d4d4d4;
	border-top: none;
	background: #FFF;
	position: relative;
}

.extra-wrap ul li {
	padding: 0 12px;
	overflow: hidden;
	zoom: 1;
	line-height: 44px;
	border-bottom: 1px dashed #cccccc;
}

.extra-wrap ul li b {
	float: right;
	font: 14px 'Microsoft Yahei';
	line-height: 45px;
}

.extra-wrap ul li span {
	display: block;
	white-space: nowrap;
	line-height: 45px;
	width: 130px;
}

.extra-wrap .sp {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 28px;
	border-top: 1px solid #f4f4f4;
}

.extra-wrap .sp a {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	color: #AAA;
}

.extra-wrap .sp a:HOVER {
	color: #307ca6;
}
