body,h1,h2,h3,ul,li,form,p,img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #000;
	font-size: 12px;
	line-height: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: #959595;
}

.header {
	width: 1000px;
	height: 64px;
	position: relative;
	margin: 0 auto;
	z-index: 2;
	overflow: hidden;
	padding-top: 0px;
}

.headerLogo {
	position: absolute;
	top: 17px;
	left: 50px;
}

.headerIntro {
	height: 28px;
	width: 144px;
	display: block;
	background-position: 0 -64px;
	top: 17px;
	left: 194px;
}

.unvisi {
	visibility: hidden;
}

.headerNav {
	top: 21px;
	right: 50px;
	width: 400px;
	text-align: right;
	color: #cfd0d0;
}

.headerNav a {
	margin-left: 13px;
}

.headerLogo,.headerIntro,.headerNav,#headerEff,.footerLogo,.footerNav,.loginIcoCurrent,.loginIcoNew,.loginFormTh,.loginFormTdIpt,.domain,#loginFormSelect,#whatAutologinTip,#mobtips,#mobtips_arr,#mobtips_close
	{
	position: absolute;
}

.main {
	height: 500px;
	background: #fff;
	position: relative;
	min-width: 1000px;
}

#mainCnt {
	width: 1000px;
	height: 500px;
	overflow: visible;
	margin: 0 auto;
	position: relative;
	clear: both;
}

.footer {
	height: 65px;
	margin: 0 auto;
}

.footer-inner {
	width: 1000px;
	height: 63px;
	overflow: visible;
	margin: 0 auto;
	color: #848585;
	position: relative;
	padding-top: 10px;
}

.footerLogo {
	top: 11px;
	left: 35px;
}

.footerNav {
	top: 25px;
	right: 126px;
}

.login {
	height: 392px;
	padding: 13px 14px 15px;
	top: 30px;
	left: 50%;
	margin-left: 91px;
	text-align: left;
	position: absolute;
	z-index: 2;
}

.loginForm {
	position: relative;
	height: 313px;
	padding-top: 40px;
}

.form-signin {
	position: relative;
	text-align: left;
	width: 300px;
	padding: 25px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	opacity: 0.85;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .checkbox {
	margin-bottom: 10px;
	color: #0663a2;
}

.form-signin .input-label {
	font-size: 16px;
	line-height: 23px;
	color: #999;
}

.form-signin .input-block-level {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px;
	*width: 283px;
	*padding-bottom: 0;
	_padding: 7px 7px 9px 7px;
	min-height: 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-signin .btn.btn-large {
	font-size: 16px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-signin #themeSwitch {
	position: absolute;
	right: 15px;
	bottom: 10px;
}

.form-signin div.validateCode {
	padding-bottom: 15px;
}

.mid {
	vertical-align: middle;
}

.alert {
	position: relative;
	width: 300px;
	margin: 0 auto;
	*padding-bottom: 0px;
}

label.error {
	background: none;
	padding: 2px;
	font-weight: normal;
	color: inherit;
	margin: 0;
}

#rememberMe {
	margin: 0;
	font-size: 11px;
}

.forgetPwdLine {
	font-size: 11px;
}

.form-signin-heading {
	text-align: center;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}