<html>
<head>重启IP通知</head>
<body>
	<h3>最新的ip地址:${IP}</h3>
	<div id="mailContentContainer" style="">
		<div>
			<div style="LINE-HEIGHT: 21px">
				试题库：<a href="http://${IP}:8889/tax-platform/" target="_blank">http://${IP}:8889/tax-platform/</a>
			</div>
		</div>
	</div>
</body>
</html>